<!DOCTYPE html>
<html lang="en" layout:decorate="~{layout}" xmlns:th="http://www.w3.org/1999/xhtml" xmlns:layout="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>질문 목록 보기</title>
    <!--
    <link rel="stylesheet" href="text/css" th:href="@{/bootstrap.min.css}">
    -->
</head>
<body>
<div layout:fragment="content" class="container my-3">
    <table class="table">
        <!-- 표(list) 머릿글 -->
        <thead class="table-dark">
        <tr class="text-center">
            <th>번호</th>
            <th style="width=50%">제목</th>
            <th>글쓴이</th>
            <th>작성일시</th>
        </tr>
        </thead>
        <!-- 표 내용 (list) -->
        <tbody>
        <tr class="text-center" th:each="question, loop : ${paging}"> <!-- 반복 -->
            <!-- 글 번호 -->
            <td th:text="${paging.getTotalElements - (paging.number * paging.size) - loop.index}"></td>
                <!-- 게시물 번호 = 전체 게시물 수 - (현재 페이지 * 페이지당 게시물 개수 ) - 나열 인덱스 -->
            <!-- 글 제목 -->
            <td class="text_start">
                <a th:href="@{|/question/detail/${question.id}|}"
                   th:text="${question.subject}"></a> <!-- 제목을 누르면 /question/detail/id 로 이동 (url) -->
                <span class="text-danger small ms-2"
                      th:if="${#lists.size(question.answerList) > 0}"
                      th:text="${#lists.size(question.answerList)}">
                </span> <!-- 만약에 답변이 있다면, 답변 수 표시 -->
            </td>
            <!-- 작성자 -->
            <td>
                <span th:if="${question.author != null}" th:text="${question.author.username}">
                </span><!-- 만약에 작성자가 null이 아니면, 작성자 표시 -->
            </td>
            <!-- 작성일 -->
            <td th:text="${#temporals.format(question.createDate,'yyyy-MM-dd HH:mm')}"></td>
        </tr>
        </tbody>
    </table>
    <!-- 페이징처리 시작 -->
    <div th:if="${!paging.isEmpty()}">
        <ul class="pagination justify-content-center">
            <!-- 이전 btn -->
            <li class="page-item" th:classappend="${!paging.hasPrevious} ? 'disabled'"> <!-- 만약 이전 페이지가 없으면 비활성화(disabled)-->
                <a class="page-link"
                   th:href="@{|?page=${paging.number-1}|}">
                    <span>이전</span>
                </a>
            </li>
            <!-- 페이지 번호 (5개만 보여줌) -->
            <li th:each="page: ${#numbers.sequence(0, paging.totalPages-1)}"
                th:if="${page >= paging.number-5 and page <= paging.number+5}"
                th:classappend="${page == paging.number} ? 'active'"
                class="page-item">
                <!-- th:classappend = "조건식?클래스_값" : 조건식이 참이면 클래스_값을 class 속성에 추가 -->
                <!-- 반복 구간 내에서 해당 페이지가 현재 페이지와 같으면 active 클래스 적용 -->
                <a th:text="${page}" class="page-link" th:href="@{|?page=${page}|}"></a>
                <!-- 페이지로 이동 url -->
            </li>
            <!-- 이후 btn -->
            <li class="page-item" th:classappend="${!paging.hasNext} ? 'disabled'"> <!-- 만약 다음 페이지가 없으면 비활성화(disabled)-->
                <a class="page-link" th:href="@{|?page=${paging.number+1}|}">
                    <span>다음</span>
                </a>
            </li>
        </ul>
    </div>
    <!-- 페이징처리 끝 -->
    <!-- 질문등록 폼 btn -->
    <a th:href="@{/question/create}" class="btn btn-primary">질문 등록하기</a>
</div>
</body>
</html>
